html, body {
  background-color: #eee;
}

a {
  color: #900000;
}

a:hover {
  color: #900000;
}

a.active {
  font-weight: bold;
}

.topbanner {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 75px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 124px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.topbar {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  position: static;
}

#minder {
  padding-left:30px;
}

#minder p {
  font-size:15px;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

textarea.xlarge {
  width: 400px;
}

.infobox-study {
  color: white;
  background-color: #900000;
  padding: 10px;
  -webkit-border-radius: 0 0 6px 6px;
  moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.tabs, .pills {
  margin: 0px;
}

.tabs > li > a {
  color: black;
}

.tabs > li > a:hover {
  color: white;
  background-color: #900000;
  border-color: #eee #eee #ddd;
}

.tabs .active > a, .tabs .active > a:hover {
  color: white;
  background-color: #900000;
  border: 1px solid #900000;
}

.pills > li {
  position: relative;
}

.pills > li > a:hover {
  color: white;
  background-color: #900000;
}

.postimg {
  float: right;
  right: 0px;
  position: relative;
}

.pagination a:hover, .pagination .active a {
  background-color: #900000;
  color: white;
}

div.shoutbox {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  -webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

dl.shoutbox {
  padding-top: 20px;
}

.commentblok {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*opleidingen.html*/
.filter {
  background-color: #f5f5f5;
  padding: 10px;
  -webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.search {
  background-color: #900000;
  padding: 10px;
  -webkit-border-radius: 6px;
  moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.result {
  margin-top: 20px;
}

.result a {
  color: #000000;
}

.result a:hover {
  color: #900000;
  text-decoration: none;
}
