<style type="text/css">


  body {
    
    color: purple;
    background: #ADE5E8;
 }
  div.titel {
    font-size: 30pt;
	margin: 100px;
  }
  div.menu {
	
	font-size: 14pt;
	font-family:arial;
	color: #E6FAFA;
	
	
  }
  div.hoofdtekst {
    color: #000000;
   
	font-family:arial;
    
	margin: 50px;
	
  }

  div.pagina {
  text-align: center;
  background: url("http://www.dvd-ppt-slideshow.com/images/ppt-background/background-3.jpg") 50% 50% no-repeat;
 }
   dl.navbar {
    
	background: url("http://www.dvd-ppt-slideshow.com/images/ppt-background/background-3.jpg") 50% 50% no-repeat;
    margin: 0.5em 0;
    padding: 0.3em;
    
    	
	}
  dl.navbar a {
	
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple
    }
  dl.dt{
	display:block;
	width:100px;
	margin-right:1px;
	margin-bottom:2px;
	text-decoration:none;
	color:white;
	background-color:#202020;
	text-align:center;
	padding:8px 0px 8px 0px;
	white-space:nowrap;
}
 div.inleiding {
 color: #1A1A40;
 font-family:arial;

 
 }
</style>