body{
	display:block;
	width:984px;
	margin:auto;
	background-color:#D8D8D8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.content{
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:black;
	float:left;
}
.top{
	float:left;
	
}
.top .logo{
	display:block;
	width:295px;
	height:75px;
	color:black;
	border-bottom-style:solid;
	border-width:1px;
	float:left;
}
.top .search{
	display:block;
	width:689px;
	height:75px;
	border-bottom-style:solid;
	border-width:1px;
	float:left;
}
.top .search  form{
	padding-left:500px;
	padding-top:15px;
}
.top .banner{
	display:block;
	width:984px;
	height:124px;
	float:left;
}
.menu{
	display:block;
	width:984px;
	height:32px;
	background-color:#202020;
	margin-bottom:2;
	font-weight:bold;
	float:left;
}
.menu ul  {
	color:white;
	padding:0;
	margin:0;
	list-style:none;
	}
.menu ul li{
	display:block;
	position:120px;
	float:left
}
.menu ul li a{
	display:block;
	border-right-style:solid;
	border-width:1px;
	border-color:white;
	text-decoration:none;
	color:white;
	background-color:#202020;
	text-align:center;
	padding:8px 20px;
	white-space:nowrap;
}
.menu ul li a:hover,.menu ul li a:active, .menu ul li .currentpage a{
	background-color:#990000
}

.menu ul li .login a {
	border-right-style:none;
	border-left-style:solid;
	position:absolute;
	margin-left:502px;
}

.main{
	display:block;
	padding:20px;
	float:left;
}
