div.container {
margin-left: auto;
margin-right: auto;
width: 984px;
}

div.leftblock {
margin-top: 10px;
width: 620px;
background-color: white;
border: 1px solid black;
float: left;
}

div.rightblock {
margin-top: 10px;
width: 350px;
float: right;
}

div.discriptionblock {
width: 100%;
padding: 10px;
text-align: left;
vertical-align: text-top;
}

div.commentblock {
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: 5px;
width: 580px;
padding: 10px;
background-color: lightgray;
text-align: center;
vertical-align: text-top;
}

div.commenttitle {
width: 150px;
padding: 10px 0px;
border: 1px solid black;
font-size: 20px;
font-weight: bold;
text-align: center;
}

div.comment {
margin-top: 5px;
width: 100%;
border: 1px solid black;
}

div.commentuser {
margin-top: 5px;
width: 50%;
padding: 5px;
display: inline-block;
text-align: left;
}

div.commentratingstat {
margin-top: 5px;
width: 42%;
padding: 5px;
display: inline-block;
text-align: right;
}

div.commentcontent {
margin-top: 5px;
width: 95%;
padding: 5px;
display: inline-block;
border-top: 1px solid black;
border-bottom: 1px solid black;
text-align: left;
}

div.commentrating {
margin-top: 5px;
margin-bottom: 5px;
width: 95%;
padding: 5px;
display: inline-block;
text-align: left;
}

div.infoblock {
width: 100%;
background-color: white;
border: 1px solid black;
text-align: left;
vertical-align: text-top;
overflow: auto;
}

div.questionblock {
margin-top: 10px;
width: 100%;
background-color: white;
border: 1px solid black;
text-align: left;
vertical-align: text-top;
}
