body{
	display:block;
	width:986px;
	margin:auto;
	background-color:#D8D8D8;
}
.content{
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.top .logo{
	display:block;
	width:984px;
	height:75px;
	color:black;
	border-bottom-style:solid;
	border-width:1px;
	}
.top .banner{
	display:block;
	width:984px;
	height:124px;
}
.menu{
	display:block;
	width:984px;
	height:36px;
}
.menu ul  {
	color:white;
	padding:0;
	margin:0;
	list-style:none;
	}
.menu ul li{
	display:block;
	position:120px;
	float:left
}
.menu li ul{display:none}
.menu ul li a{
	display:block;
	width:100px;
	margin-right:1px;
	margin-bottom:2px;
	text-decoration:none;
	color:white;
	background-color:#202020;
	text-align:center;
	padding:8px 0px 8px 0px;
	white-space:nowrap;
}
.menu ul li a:hover,.menu ul li a:active{
	background-color:#990000
}
.menu li:hover ul{ 
		display:block; 

		position:absolute;
		width:300px}
.menu li:hover li{ 
	clear:left; }
.menu li:hover ul li a{
	display:block;
	width:200px;
	padding:5px 8px;
	text-align:left;
	margin-bottom:0px;
}
.menu li:hover li a:hover{background:#990000}

.menu {

}

.menu .filler {
	margin-right:1px;
	padding: 0px 0px 36px 177px;
	background-color:#202020;
}
.menu .search {
	padding: 5px 10px 5px 10px;
	background-color:#202020;
}

